// CVV Help 

.lightboxContainer {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: .8;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index: 2000;
}

.cvvInstructions {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	// margin: auto;
	// opacity: 0.8;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transition: .5s ease-in-out;
  // background-color: tomato;

	.imageBox {
		opacity: 1;
		// flex: 1 0 50%;
		&__item {
			max-width: 100%;
		}
	}
}

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  transition: .5s ease-in-out;
}

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  transform: rotate(45deg);
}

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  transform: rotate(-45deg);
}

.lightboxContainer:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightboxContainer:target a.lightbox-close {
  top: 0px;
}

// End: CVV Help