body {
  min-height: 100vh;
  padding: 0;
  line-height: 1;
}

.l-siteContainer {
  min-height: 100vh;

	display: flex;
	flex-direction: column;

  & > * {
    flex:1 1 auto;
  }
}

.l-siteContainer {
  min-height: 100vh;

	display: flex;
	flex-direction: column;

  & > * {
    flex:1 1 auto;
  }
}

.l-mainContent {
  overflow-x: hidden;
}

.tableContainer {
  // width: 100%;
  padding: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: tomato;
    thead {
      th {
        padding: 10px;
        border: 1px solid;
      }
    }
    th, tr {
      cursor: pointer;
      td {
        padding: 10px;
        border: 1px solid;
      }
    }

    tr:first-child {background: #93d428}
    tr:nth-child(2n+3) {background: #CCC}
    // tr:nth-child(even) {background: #CCC}
    // tr:nth-child(odd) {background: #FFF}
  }

  .selected {
    background-color: red;
    color: #fff;
    font-weight: bold;
  }

  button {
    margin-top: 15px;
    background-color: #93d428;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
  }
}
