@import "theme/all-base-themes";
// @import "theme-stores/gnr-themes";
@import "base/all-base";
@import "layout/all-layouts";
@import "modules/all-modules";
@import "state/all-states";


.membershipComponentBlock {
  // background: tomato;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__itemText--left {
  text-align: left;
}

.sizeBlock--smallRectangle {
  min-width: 3.8rem;
}

.actionButtonLinkBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButtonLink {
  font-size: 100%;
  text-align: center;
  color: #3aa6ca;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.router-link-active {
  color: red;
}

// Need to be on the card module
.cardIconmageHidden {
  display: none;
}
