@import "theme/all-base-themes";
@import "theme-stores/theme-gnr";
@import "base/all-base";
@import "layout/all-layouts";
@import "modules/all-modules";  
@import "state/all-states";  

body, html {
	font-family: librefranklin-regular,Arial,sans-serif,pticorvinusskyline;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
}

.inputGroup {
  .dataInput {
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
    border-radius: 0;
  }
}

.temp {
  background-color: #646464;
  color: #fff;
}

.siteBanner__intro {
  font-size: 2.125rem;
  color: #fac43d;
  text-transform: uppercase;
  font-family: opticorvinusskyline;
  transition: color 1s ease;
  line-height: 34px;
  letter-spacing: 1px;
}

.cart___navButton {
  background-color: #fac43d;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}

.cart___navButton--cancel {
  background-color: #646464;
  color: #fff;
}

.dataForm .dropdownPanel {
  background-color: #000;
  border: 1px solid #333;
  border-radius: 0;
}

span.select2-container--open .select2-dropdown {
  background-color: #000;
  border: 1px solid #333;
}

span.select2-container--open .select2-results__options .select2-results__option {
  color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  background-color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
}

span.select2-container--open .select2-dropdown .select2-search--dropdown {
  background-color: #333;
}

span.select2-container--open .select2-dropdown .select2-search--dropdown input {
  background-color: #000;
  color: #fff;
}

span.select2-container--open .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: url(../images/dd-up-white.png) 50% 50% no-repeat;
  background-size: 1.25rem 1.25rem;
  width: 2rem;
  height: 1.5rem;
  margin-right: 15px;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: url(../images/dd-down-white.png) 50% 50% no-repeat;
  background-size: 1.25rem 1.25rem;
  width: 2rem;
  height: 1.5rem;
  margin-right: 15px;
}

.miniCart {
  .inputGroup {
    .dataInput {
      background-color: #fff;
      color: #333;
    }
  }
}
.cartInputError__text {
  font-size: 0.925rem;
  font-weight: 100;
  line-height: 1.25;
}

.footer .copyright {
	font-size: .825rem;
  font-weight: 300;
  color: #999;
}

.stepTitle {
	color: #fac43d;
	font-weight: 300;
}

.cartTotal { 
	// color: #fac43d;
}

.accordion label {
  // background-color: #fac43d;
  // color: #000;
  background-color: #646464;
  color: #fff;
}

.accordion .accordionContent { 
	border: none;
}

.sizeBlock {
  background-color: #fac43d;
  color: #000000;

  &--chosen {
    background-color: #fff;
    color: #333;
  }
}

.cartInputError {
  margin-bottom: 0;
  align-items: baseline;
}