.home {
  background-color: tomato;

  flex: 1;
  display: flex;
  justify-content: space-between;

  // .infoForm {
  //   flex: 1;
  //   background-color: #fff;
  // }

  .additionalInfo {
    flex: 0 0 35vw;
    background-color: beige;
  }
}

.noAccess {
  background-color: lightgoldenrodyellow;
  color: red;
  flex: 1;
}
